.form {
    display: flex;
    flex-direction: column;
    width: 40rem;
}

.label {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: 'Poppins';
    font-size: 1rem;
    font-weight: 600;
    color: #424242;
}

.hidden {
    display: none;
}

.input {
    padding: 1rem;
    background-color: #FFF9F2;
    border: .3rem solid #FFCDB6;
    margin-top: .4rem;
    outline: none;
    font-family: 'Poppins';
    font-size: .8rem;
    font-weight: 200;
}

.message {
    padding: 1rem;
    background-color: #FFF9F2;
    border: .3rem solid #FFCDB6;
    margin-top: .4rem;
    outline: none;
    font-family: 'Poppins';
    font-size: .8rem;
    font-weight: 200;
    height: 10rem;
}

.submit {
    padding: 1rem 1.5rem;
    background-color: #FFCDB6;
    border: .2rem solid #424242;
    text-decoration: none;
    color: #424242;
    font-family: 'Poppins';
    font-size: 1.1rem;
    font-weight: 600;
    transition: .5s;
    margin-top: 1rem;
}

.submit:hover {
    color: #424242;
    background-color: #FFEEE6;
    cursor: pointer;
}

.upload {
    padding: 1rem 1.5rem;
    background-color: #FFF9F2;
    border: .2rem solid #FFCDB6;
    text-decoration: none;
    color: #424242;
    font-family: 'Poppins';
    font-size: 1.1rem;
    font-weight: 600;
    transition: .5s;
    margin-top: 1rem;
}