.carditem {
    background-color: #FFF9F2;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 31rem;
    width: 90vw;
    padding: 2rem;
    margin: 2rem;
    border: .2rem solid #424242;
}

.carditem_title {
    font-family: 'Poppins';
    font-size: 1.6rem;
    font-weight: 600;
    color: #FFCDB6;
    margin: 1rem 0;
}

.carditem_sender {
    font-family: 'Poppins';
    font-size: 1.2rem;
    font-weight: 200;
    color: #424242;
    margin-bottom: 3rem;
}

.carditem_button {
    background-color: #FFCDB6;
    color: #424242;
    font-family: 'Poppins';
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem 1.5rem;
    text-decoration: none;
    border: .2rem solid #424242;
    transition: .5s;
    margin-top: 3rem;
}

.carditem_button:hover {
    color: #424242;
    background-color: #FFEEE6;
}

.carditem_content {
    margin-left: 2rem;
    max-width: 30rem;
}

@media (max-width: 1240px) {
  .carditem {
      max-width: 41rem;
  }
}

@media (max-width: 642px) {
  .carditem_content {
    margin-left: 2rem;
  }
}

@media (max-width: 500px) {
  .carditem {
      flex-direction: column;
      max-width: 26rem;
      justify-content: center;
      align-items: center;
  }

  .carditem_image {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .carditem_content {
    margin-left: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.carditem_title {
    text-align: center;
    margin-bottom: 0;
    margin-top: 1rem;
}
}

