.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFCDB6;
    padding: 2rem;
}

.logo {
    font-family: 'Playfair Display';
    font-size: 2rem;
    font-weight: 900;
    color: white;
    margin: 0 0.6rem;
    text-decoration: none;
}

.footer {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-color: #FFCDB6;
   padding: 2rem; 
}

.footer_logo {
  font-family: 'Playfair Display';
  font-size: 1.5rem;
  font-weight: 900;
  color: white;
  margin: 0 0.6rem;
  text-decoration: none;
}

.copyright {
    font-family: 'Poppins';
    font-size: 1rem;
    font-weight: 200;
    color: white;
}

.navlink {
    font-family: 'Poppins';
    font-size: 1rem;
    font-weight: 600;
    color: white;
    text-decoration: none;
    margin-left: 2rem;
    padding-bottom: .4rem;
    border-bottom: .2rem solid #FFCDB6;
    transition: .5s;
}

.navlink:hover {
    border-bottom: .2rem solid white;
}

.navbutton {
    background-color: white;
    color: #FFCDB6;
    font-family: 'Poppins';
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem 1.5rem;
    text-decoration: none;
    margin-left: 2rem;
    border: .2rem solid white;
    transition: .5s;
}

.navbutton:hover {
    background-color: #FFCDB6;
    color: white;
}