.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #FFCDB6; */
    padding: 2rem;
    width: 90vw;
    max-widtth: 100rem;
    margin: 0 auto;
    border-bottom: .15rem solid #424242;
}

.logo {
    font-family: 'Playfair Display';
    font-size: 2rem;
    font-weight: 900;
    color: #424242;
    margin: 0 0.6rem;
    text-decoration: none;
}

.footer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 2rem; 
   width: 90vw;
   max-widtth: 100rem;
   margin-top: 5rem;
   margin-bottom: .2rem;
   margin-left: auto;
   margin-right: auto;
   border-top: .15rem solid #424242;
}

.footer_logo {
  font-family: 'Playfair Display';
  font-size: 1.5rem;
  font-weight: 900;
  color: #424242;
  margin: 0 0.6rem;
  text-decoration: none;
}

.copyright {
    font-family: 'Poppins';
    font-size: 1rem;
    font-weight: 200;
    color: #424242;
}

.navlink {
    font-family: 'Poppins';
    font-size: 1rem;
    font-weight: 600;
    color: #424242;
    text-decoration: none;
    margin-left: 2rem;
    padding-bottom: .4rem;
    border-bottom: .2rem solid #FFEEE6;
    transition: .5s;
}

.navlink:hover {
    border-bottom: .2rem solid #424242;
}

.navbutton {
    background-color: #FFCDB6;
    color: #424242;
    font-family: 'Poppins';
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem 1.5rem;
    text-decoration: none;
    margin-left: 2rem;
    border: .2rem solid #424242;
    transition: .5s;
}

.navbutton:hover {
    background-color: #FFEEE6;
    color: #424242;
}