.header {
  display: flex;
  background: #FFEEE6;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  height: 80px;
  border-bottom: .15rem solid #424242;
  width: 90vw;
   max-widtth: 100rem;
   margin: 0 auto;
}

.nav_items {
  padding-left: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile_option {
  display: none;
}

.mobile_menu {
  display: none;
}

@media (max-width: 867px) {
   .header {
       padding: 3rem;
   }

  .nav_items {
    display: flex;
    width: 100%;
    height: 350px;
    position: absolute;
    top: 70px;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style-type: none;
  }

  .nav_itemsactive {
    background: #FFCDB6;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    align-content: center;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 350px;
    position: absolute;
    top: 75px;
     align-items: center;
    justify-content: center;
  }

  .option {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navlink {
      margin-bottom: 2rem;
      border-bottom: .2rem solid #FFCDB6;
      font-size: 1.4rem;
      margin-left: unset;
  }

  .mobile_menu {
    display: block;
  }
}


.logo {
    font-family: 'Playfair Display';
    font-size: 2rem;
    font-weight: 900;
    color: #424242;
    margin: 0 0.6rem;
    text-decoration: none;
    padding-bottom: 1rem;
}

.footer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 2rem; 
   width: 90vw;
   max-widtth: 100rem;
   margin-top: 5rem;
   margin-bottom: .2rem;
   margin-left: auto;
   margin-right: auto;
   border-top: .15rem solid #424242;
}

.footer_logo {
  font-family: 'Playfair Display';
  font-size: 1.5rem;
  font-weight: 900;
  color: #424242;
  margin: 0 0.6rem;
  text-decoration: none;
}

.copyright {
    font-family: 'Poppins';
    font-size: 1rem;
    font-weight: 200;
    color: #424242;
}

.navlink {
    font-family: 'Poppins';
    font-size: 1rem;
    font-weight: 600;
    color: #424242;
    text-decoration: none;
    margin-left: 2rem;
    padding-bottom: .4rem;
    border-bottom: .2rem solid #FFEEE6;
    transition: .5s;
}

.navlink:hover {
    border-bottom: .2rem solid #424242;
}

.navbutton {
    background-color: #FFCDB6;
    color: #424242;
    font-family: 'Poppins';
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem 1.5rem;
    text-decoration: none;
    margin-left: 2rem;
    border: .2rem solid #424242;
    transition: .5s;
}

.navbutton:hover {
    background-color: #FFEEE6;
    color: #424242;
}

@media (max-width: 527px) {
  .footer {
      flex-direction: column;
      align-items: flex-start;
  }

  .footer_logo {
      margin: unset;
  }
}

@media (max-width: 450px) {
  .logo {
      font-size: 1.5rem;
  }

  .header {
      padding: 2rem;
  }
}