.skeleton {
    max-width: 100rem;
    margin: 2rem auto;
    padding: 2rem 5rem;
}

.skeleton > div {
    background-color: #FFCDB6;
    border-radius: 4px;
    margin: 2rem 0;
}

.banner {
    padding: 1.2rem 0;
    max-width: 55rem;
    height: 28rem;
}

.header {
    padding: 1.5rem 0;
    max-width: 50rem;
}

.content {
    padding: .8rem 0;
    max-width: 55rem;
}